@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');
@import '../themes/_color.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Almarai", sans-serif;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    direction: rtl;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    border-radius: 0px;
    height: 4px;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: transparent;
}

html,
body,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    font-size: 100%;
    font: inherit;
    scroll-behavior: auto !important;
    text-transform: capitalize;
    font-family: "Almarai", sans-serif;
}

* {
    text-transform: capitalize;
}

thead {
    font-weight: 600;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
}

button {
    background-color: transparent;
    border: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
}

*:focus,
select:focus,
.custom-select:focus,
button:focus,
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
[type="text"].form-control:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus,
[type="tel"].form-control:focus,
[contenteditable].form-control:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-switch .form-check-input {
    background-repeat: no-repeat !important;
}

input:focus::-moz-placeholder {
    opacity: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input[type="checkbox"]:checked {
    background-color: $second-color;
    color: $second-color;
    border-color: $second-color;
}
// ///////////////////
.carousel-indicators{
    display: flex;
    justify-content: center;
    align-items: center;
    button{
        width: 12px !important;
        height: 12px !important;
        border-radius: 50% !important;
        border-top: 0 !important;
        border-bottom: 0 !important;
        &.active{
            width: 50px !important;
            height: 7px !important;
            border-radius: 11px !important;
            background-color: $primary-color !important;
        }
    }
}

.featured__categories{
    .category__item{
        box-shadow: 0 15px 20px -10px rgba(0, 0, 0, .04);
        transition: 0.5s ease-in-out all;
        &:hover{
            transform: scale(1.1);
            box-shadow: 0 20px 20px -10px rgba(0, 0, 0, .1);
        }
    }
    .owl-stage-outer{
        padding: 20px 0;
    }
}

.popular__products{
    .product__item{
        .status{
            span{
                padding: 9px 20px 10px 20px;
                font-size: 12px;
                border-radius: 0 15px 0 20px;
            }
        }
        .product__actions{
            background-color: #fff;
            border-radius: 5px;
            border: 1px solid #BCE3C9;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease 0s;
            z-index: 9;
            box-shadow: 0 20px 20px -10px rgba(0, 0, 0, .1);
            button{
                padding: 8px 15px;
                position: relative;
                @media(max-width: 767px){
                    padding: 8px;
                }
                &::after{
                    position: absolute;
                    content: "";
                    background-color: #DEF9EC;
                    height: 28px;
                    width: 2px;
                    top: 4px;
                    left: -1px;
                }
                &:last-child::after{
                    opacity: 0;
                }
            }
        }
        &:hover{
            .product__actions{
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.four__products{
    h3{
        color: $third-color;
        font-weight: 600;
        font-size: 22px;
        position: relative;
        padding-bottom: 15px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 25px;
        &::after{
            content: "";
            position: absolute;
            background-color: $primary-color;
            top: 40px;
            right: 0;
            height: 3px;
            width: 100px;
        }
    }
}

.contact_us_page{
    input,textarea{
        height: 48px;
        font-size: 13px !important;
        &::placeholder{
            font-size: 13px !important;
        }
    }
}